.gradle/
.loom/
**/build/
!**/src/**/build/        # keep if you ever have a build dir inside src (rare)
remappedJars/
run/

logs/
crash-reports/
*.log

.idea/
*.iml
*.iws
*.ipr

.vscode/
*.code-workspace

.project
.classpath
.settings/

*.class
hs_err_pid*
replay_pid*
.DS_Store
Thumbs.db

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
/.mailmap
/libs/
/external/
/run2/
/run3/
