name: Publish to Modrinth & CurseForge

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    env:
      VERSION_TYPE: ${{ github.event.release.prerelease && 'beta' || 'release' }}
      LOADERS: fabric
      GAME_VERSIONS: 1.21.1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew --no-daemon clean build

      - name: Upload build artifacts (optional)
        uses: actions/upload-artifact@v4
        with:
          name: build-libs
          path: build/libs/

      - name: Publish to Modrinth & CurseForge
        uses: Kir-Antipov/mc-publish@v3
        with:
          modrinth-id: nz81A2jG
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          curseforge-id: 1359774
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          files: |
            build/libs/ucp-fabric-*[0-9].*[0-9].*[0-9]+mc[0-9].*[0-9].*.jar
            build/libs/*-sources.jar
            build/libs/*-javadoc.jar

          loaders: ${{ env.LOADERS }}
          game-versions: ${{ env.GAME_VERSIONS }}

          version: ${{ github.ref_name }}
          name: ${{ github.event.release.name || github.ref_name }}
          changelog: ${{ github.event.release.body }}
          version-type: ${{ env.VERSION_TYPE }}

          dependencies: |
            cobblemon(required){curseforge:687131}{modrinth:MdwFAVRL}
            fabric-api(required){curseforge:306612}{modrinth:P7dR8mSH}
            fabric-language-kotlin(required){curseforge:308769}{modrinth:Ha28R6CL}
            cardinal-components-api(required){curseforge:318449}{modrinth:K01OU20C}